.medicine-sec{
    width: 1225px;
    height: 500px;
    background-image: url(../assets/card-bg-1.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    margin: 50px 20px;
    padding: 120px 150px;
}
.medicine-sec h1{
    font-size: 43px;
}
.medicine-sec div{
    margin-top: 20px;
    line-height: 25px;
}
.medicine-sec div p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(88, 86, 86);
}
.medicine-sec button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}